html {
    background-color: #E8B1B1;
}

.square1 {
    height: 16px;
    width: 17px;
    background-color: #3C43E9;
    position: absolute;
    left: 65px;
    top: 60px;
}

.header {
    height: 90px;
    width: auto;
    background-color: #E8B1B1;
    position: sticky;
}

#my-name {
    position: absolute;
    left: 90px;
    top: 33px;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
}

#tite {
    position: absolute;
    left: 350px;
    top: 30px;
    font-family: 'Reem Kufi', sans-serif;
    font-weight: 200;
    font-size: x-large;
}

.main-content {
    float: left;
    width: 1000px;
    overflow-y: auto;
    height: 100px;
}

.square2 {
    height: 800px;
    width: 600px;
    background-color: #F3CFCF;
    position: absolute;
    left: 0px;
    top: 130px;
}

.square3 {
    height: 500px;
    width: 350px;
    background-color: #FCDCDA;
    position: absolute;
    left: 350px;
    top: 270px;
    -webkit-box-shadow: 0 0 7px rgb(8, 8, 8);
    box-shadow: 0 0 7px rgb(8, 8, 8);
}

.square4 {
    height: 60px;
    width: 350px;
    background-color: white;
    position: absolute;
    left: 350px;
    top: 710px;
}

#image_me {
    border-radius: 50%;
    height: 210px;
    width: 230px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 70px;
    top: 50px;
}

#fb {
    width: 28px;
    height: 30px;
    position: relative;
    left: 100px;
    top: 10px;
}

#twitter {
    width: 23px;
    height: 23px;
    position: relative;
    top: 10px;
    left: 110px;
}

#git {
    width: 30px;
    height: 33px;
    position: relative;
    top: 13px;
    left: 120px;
}

#linkdin {
    width: 20px;
    height: 20px;
    position: relative;
    top: 5px;
    left: 130px;
}

.menu-bar a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    font-family: Roboto;
    font-weight: lighter;
}

.menu-bar a:hover {
    color: #3C43E9;
}

.menu-bar {
    float: right;
    width: 450px;
    position: relative;
    top: 33px;
    font-family: 'Inter', sans-serif;
    position: sticky;
}

#fname {
    justify-content: center;
    align-items: center;
    position: relative;
    left: 130px;
    top: 47px;
    font-family: 'Inter', sans-serif;
    font: bold;
    font-weight: bold;
}

#lname {
    justify-content: center;
    align-items: center;
    position: relative;
    left: 100px;
    top: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

#title {
    justify-content: center;
    align-items: center;
    position: relative;
    left: 100px;
    top: 35px;
    font-family: 'Reem Kufi', sans-serif;
    font-weight: 60;
}

hr {
    color: #3C43E9;
    width: 20%;
    position: relative;
    left: 0px;
    top: 18px;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
    border-color: #3C43E9;
}

.square5 {
    height: 400px;
    width: 370px;
    background-color: white;
    position: absolute;
    left: 750px;
    top: 220px;
    background-color: #E8B1B1;
}

#hello {
    font-family: 'Inter', sans-serif;
    font-size: 650%;
}

.pos {
    font-family: 'Reem Kufi', sans-serif;
    font-size: inherit;
    top: -100px;
    left: 5px;
    position: relative;
}

#firstP {
    top: -50px;
}

#secondP {
    top: -10px;
}

#buttons {
    top: -90px;
    position: relative;
}

#resume {
    top: 10px;
    position: relative;
    border-radius: 20px;
    border: 1px solid #3C43E9;
    width: 120px;
    height: 35px;
    font-weight: bold;
}

button:hover {
    background-color: #3C43E9;
    border: 1px solid #3C43E9;
    color: white;
}

#proj {
    top: 10px;
    position: relative;
    border-radius: 20px;
    border: 1px solid #3C43E9;
    width: 120px;
    height: 35px;
    left: 20px;
    font-weight: bold;
}

.contact {
    height: 100px;
    width: 450px;
    position: absolute;
    bottom: 8px;
    right: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #E8B1B1;
    font-family: Roboto;
}

.icons2 {
    position: relative;
    left: -110px;
    bottom: 20px;
}

.resume_box {
    left: 400px;
    height: 400px;
    width: 950px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    font-family: Roboto;
    box-shadow: 0 3px 8px -6px black;
}

#first {
    position: relative;
    left: 400px;
    top: 150px;
}

#second {
    position: relative;
    left: 400px;
    top: 200px;
}

#third {
    position: relative;
    left: 400px;
    top: 250px;
}

#fourth {
    position: relative;
    left: 400px;
    top: 300px;
}

#fifth {
    position: relative;
    left: 400px;
    top: 350px;
}

.header_resume {
    height: 90px;
    width: auto;
    background-color: #E8B1B1;
}

#my-name_resume {
    position: absolute;
    left: 90px;
    top: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
}

#tite_resume {
    position: absolute;
    left: 390px;
    top: 30px;
    font-family: 'Reem Kufi', sans-serif;
    font-weight: 200;
    font-size: x-large;
}

.square1_resume {
    height: 20px;
    width: 19px;
    background-color: #3C43E9;
    position: absolute;
    left: 770px;
    top: 130px;
}

#header_resume {
    position: absolute;
    left: 800px;
    top: 100px;
    font-family: 'Inter', sans-serif;
}


/* Page content */

body {
    padding: 16px;
}


/* The sticky class is added to the header with JS when it reaches its scroll position */

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}


/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */

.sticky+.main_content {
    padding-top: 102px;
}

.box_title {
    left: 400px;
}